.progress {
  height: 20px;
  border: 1px solid;
  width: 500px;
  margin: 20px 0;
  background-color: grey;
  border-radius: 5px;
}

.bar {
  width: 0px;
  height: 100%;
  background-color: red;
  transition: width 2s ease-in 0s;
}

.loading{
  width: 100%;
}